body{
    margin: 0px;
}

main{
    margin: 20px;
}

h1{
text-align: center;
color: black;
font-family:cursive;
}

.navbar ul{
list-style-type: none;
background-color: #00274C;
margin: 0px;
padding: 0px;
overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #ffe205 ;
}

.navbar li{
    float: left;
}

.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
